<div class="welcome-wrap mb-4">
    <div class=" d-flex align-items-center justify-content-between flex-wrap">
        <div class="mb-3">
            <h2 class="mb-1 text-white">Welcome to SLPS Admin Panel</h2>
            <p class="text-light"><b><%= currentDate %> (<%= dayName %>)</b></p>
        </div>
    </div>
    <div class="welcome-bg">
        <img src="/assets/img/bg/welcome-bg-02.svg" alt="img" class="welcome-bg-01">
        <img src="/assets/img/bg/welcome-bg-01.svg" alt="img" class="welcome-bg-03">
    </div>
</div>
<div class="row" id="dashboard">
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-users fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Admins</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-file fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Banners</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-volume-up fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Announcements</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-users fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Committees</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-users fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Members</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-solid fa-children fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Family Members</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-ticket fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Member Requests</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-calendar fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Events</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-calendar fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Events Attendance</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-newspaper fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Newsletters</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-briefcase fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Jobs</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-heart fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Matrimonial Profiles</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-address-card fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Business Cards</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-secondary flex-shrink-0">
                        <i class="fa fa-file-text fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Policies</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="avatar avatar-lg bg-primary flex-shrink-0">
                        <i class="fa fa-calendar fs-16"></i>
                    </span>
                    <div class="ms-2 overflow-hidden">
                        <p class="fs-12 fw-medium mb-1 text-truncate">Upcoming Events</p>
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var page_title = "Dashboard";
</script>