<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4 class="fw-bold">User List</h4>
            <h6>(*) indicates required field.</h6>
        </div>
    </div>
    <div class="page-btn mt-0">
        <a href="/admin/users" class="btn btn-secondary"><i data-feather="arrow-left" class="me-2"></i>Back to User List</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">New User</h5>
            </div>
            <div class="card-body">
                <form action="admin/users/store" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" autofocus required  />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Phone</label>
                                <input type="number" class="form-control" name="phone" id="phone" placeholder="Enter phone" required  />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" autofocus required  />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Category Status</label>
                                <select class="select" name="is_active" id="is_active">
                                    <option value="1" <?php echo isset($category['is_active']) && $category['is_active'] == 1 ? "selected" : ""; ?>>Active</option>
                                    <option value="0" <?php echo isset($category['is_active']) && $category['is_active'] == 0 ? "selected" : ""; ?>>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="reset" class="btn btn-secondary">Clear</button>
                        <button type="submit" class="btn btn-primary"><?php echo $button; ?></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var page_title = "User List";
</script>