<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="robots" content="">
        <title></title>
        
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/toast.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <style>
            .jq-toast-single, .jq-toast-heading {
                font-family: "Nunito" !important;
            }
            label.form-label {
                font-weight: bold !important;
            }
            #dashboard p {
                font-size: 16px !important;
                /*font-weight: bold !important;*/
            }
            .page-btn a {
                /*text-transform: uppercase;*/
            }
            .mandadory {
                color: #FF0000;
            }
        </style>
        <script src="/assets/js/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <div class="main-wrapper">
            <div class="header">
                <div class="main-header">
                    <div class="header-left active">
                        <a href="index.html" class="logo logo-normal"><img src="/assets/img/logo.svg" alt="Img"></a>
                        <a href="index.html" class="logo logo-normal"><img src="/assets/img/logo-white.svg" alt="Img"></a>
                        <a href="index.html" class="logo logo-normal"><img src="/assets/img/logo-small.png" alt="Img"></a>
                    </div>
                    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <ul class="nav user-menu">
                        <li class="nav-item dropdown has-arrow main-drop profile-nav">
                            <a href="javascript:void(0);" class="nav-link userset" data-bs-toggle="dropdown">
                                <span class="user-info p-0">
                                    <span class="user-letter">
                                        <img src="/assets/img/profiles/avator1.jpg" alt="Img" class="img-fluid">
                                    </span>
                                </span>
                            </a>
                            <div class="dropdown-menu menu-drop-user">
                                <div class="profileset d-flex align-items-center">
                                    <div>
                                        <h6 class="fw-medium">John Smilga</h6>
                                        <p>Admin</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="profile.html"><i class="ti ti-user-circle me-2"></i>MyProfile</a>
                                <a class="dropdown-item" href="sales-report.html"><i class="ti ti-file-text me-2"></i>Reports</a>
                                <a class="dropdown-item" href="general-settings.html"><i class="ti ti-settings-2 me-2"></i>Settings</a>
                                <hr class="my-2">
                                <a class="dropdown-item logout pb-0" href="signin.html"><i class="ti ti-logout me-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown mobile-user-menu">
                        <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="general-settings.html">Settings</a>
                            <a class="dropdown-item" href="signin.html">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar" id="sidebar">
                <div class="sidebar-logo">
                    <a href="index.html" class="logo logo-normal">
                        <img src="/assets/img/logo.svg" alt="Img">
                    </a>
                    <a href="index.html" class="logo logo-white">
                        <img src="/assets/img/logo-white.svg" alt="Img">
                    </a>
                    <a href="index.html" class="logo-small">
                        <img src="/assets/img/logo-small.png" alt="Img">
                    </a>
                    <a id="toggle_btn" href="javascript:void(0);">
                        <i data-feather="chevrons-left" class="feather-16"></i>
                    </a>
                </div>
                <div class="modern-profile p-3 pb-0">
                    <div class="text-center rounded bg-light p-3 mb-4 user-profile">
                        <div class="avatar avatar-lg online mb-3">
                            <img src="/assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
                        </div>
                        <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
                        <p class="fs-12 mb-0">System Admin</p>
                    </div>
                    <div class="sidebar-nav mb-3">
                        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified bg-transparent" role="tablist">
                            <li class="nav-item"><a class="nav-link active border-0" href="#">Menu</a></li>
                            <li class="nav-item"><a class="nav-link border-0" href="chat.html">Chats</a></li>
                            <li class="nav-item"><a class="nav-link border-0" href="email.html">Inbox</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-header p-3 pb-0 pt-2">
                    <div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
                        <div class="avatar avatar-md onlin">
                            <img src="/assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
                        </div>
                        <div class="text-start sidebar-profile-info ms-2">
                            <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
                            <p class="fs-12">System Admin</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between menu-item mb-3">
                        <div>
                            <a href="index.html" class="btn btn-sm btn-icon bg-light">
                                <i class="ti ti-layout-grid-remove"></i>
                            </a>
                        </div>
                        <div>
                            <a href="chat.html" class="btn btn-sm btn-icon bg-light">
                                <i class="ti ti-brand-hipchat"></i>
                            </a>
                        </div>
                        <div>
                            <a href="email.html" class="btn btn-sm btn-icon bg-light position-relative">
                                <i class="ti ti-message"></i>
                            </a>
                        </div>
                        <div class="notification-item">
                            <a href="activities.html" class="btn btn-sm btn-icon bg-light position-relative">
                                <i class="ti ti-bell"></i>
                                <span class="notification-status-dot"></span>
                            </a>
                        </div>
                        <div class="me-0">
                            <a href="general-settings.html" class="btn btn-sm btn-icon bg-light">
                                <i class="ti ti-settings"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Main</h6>
                                <ul id="main_menu_list">
                                    <li><a href="/admin/dashboard"><i data-feather="box"></i><span>Dashboard</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Users</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="admin" data-title="Admin">
                                        <a href="/admin/users">
                                            <i data-feather="box"></i><span>Admin List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Members</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="member_request" data-title="Member Request">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Member Request List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="member" data-title="Member">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Member List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="family_member" data-title="Family Member">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Family Member List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Committees</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="committee" data-title="Committee">
                                        <a href="/admin/users">
                                            <i data-feather="box"></i><span>Committee List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Event</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="event" data-title="Event">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Event List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="event_attendance" data-title="Event Attendance">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Event Attendance List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="upcoming_event" data-title="Upcoming Event">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Upcoming Event List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">General</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="banner" data-title="Banner">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Banner List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="announcement" data-title="Announcement">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Announcement List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="newsletter" data-title="Newsletter">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Newsletter List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="policy" data-title="Policy">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Policy List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Other</h6>
                                <ul id="main_menu_list">
                                    <li class="permission" data-module="job" data-title="Job">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Job List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="matrimonial" data-title="Matrimonial">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Matrimonial List</span>
                                        </a>
                                    </li>
                                    <li class="permission" data-module="business_card" data-title="Business Card">
                                        <a href="admin/quote/list.php">
                                            <i data-feather="box"></i><span>Business Card List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="content">
                    <%- body %>
                </div>
            </div>
        </div>
        <script src="/assets/plugins/select2/js/select2.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/feather.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/toast.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-bs4.min.js"></script>
        <script src="/assets/js/script.js"></script>
        <script>
            $(document).ready(function(){
                if($("#flashMsg").length) {
                    show_toast($("#flashMsg").text());
                }
                if($('.summernote').length > 0) {
                    $('.summernote').summernote({
                        placeholder: 'Type here...',
                        tabsize: 2,
                        height: "auto"
                    });
                }
                $("#main_menu_list li").each(function(){
                    if($.trim($(this).text()) == page_title) {
                        $(this).addClass("active");
                    }
                });
            });
            function remove_row(deleteUrl)
            {
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to delete?',
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                url: deleteUrl,
                                type: "GET",
                                success:function(response) {
                                    if(response.success) {
                                        show_toast("Success!",response.message,"success");
                                        setTimeout(function(){
                                            // window.location.reload();
                                        },3000);
                                    }
                                },
                                error: function(xhr, status, error) {
                                    if (xhr.status === 400) {
                                        const res = xhr.responseJSON;
                                        show_toast("Oops!",res.message,"error");
                                    } else {
                                        show_toast("Oops!","Something went wrong","error");
                                    }
                                }
                            });
                        },
                        cancel: function () {
                            
                        }
                    }
                });
            }
            function show_toast(title,msg,type,second = 3000)
            {
                $.toast({
                    heading: title,
                    text: msg,
                    showHideTransition: 'fade',
                    icon: type,
                    position: 'top-right',
                    hideAfter: second
                });
            }
        </script>
    </body>
</html>